CRM_TEST_SUPABASE_URL=
CRM_TEST_ANON_KEY=
CRM_TEST_ADMIN_TOKEN=
CRM_TEST_SERVICE_ROLE_KEY=
INVOICE_TEST_SUPABASE_URL=
INVOICE_TEST_ANON_KEY=
INVOICE_TEST_ADMIN_TOKEN=
INVOICE_TEST_SERVICE_ROLE_KEY=
MARKETING_AI_API_URL=
MARKETING_AI_API_KEY=
MARKETING_AI_MODEL=
